<div class="content-wrapper" style="min-height: 990px;">
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-2">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Editors

            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="box-group" id="accordion">

              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                      class="collapsed">
                      Basic
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                  <div class="box-body">



                    <div class="fields">
                      <div class="field pointer shadow-bg">
                        <span *ngFor="let item of fieldModels">
                          <a *ngIf="item.category==0" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
                            (dndEnd)="onDragEnd($event)" [ngClass]="item.designclass" style="margin-top:5px"
                            class="btn btn-block btn-sm  btn-social"><i [ngClass]="item.icon" class="fa "></i>
                            {{item.label}}</a>


                        </span>

                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="panel box box-danger">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"
                      aria-expanded="false">
                      Advanced
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="box-body">



                    <div class="fields">
                      <div class="field pointer shadow-bg">
                        <span *ngFor="let item of fieldModels">
                          <a *ngIf="item.category==1" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
                            (dndEnd)="onDragEnd($event)" [ngClass]="item.designclass" style="margin-top:5px"
                            class="btn btn-block btn-sm  btn-social"><i [ngClass]="item.icon" class="fa "></i>
                            {{item.label}}</a>


                        </span>

                      </div>
                    </div>

                  </div>

                </div>
              </div>
              <div class="panel box box-success">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"
                      aria-expanded="true">
                      Layout
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse " aria-expanded="true" style="">
                  <div class="box-body">



                    <div class="fields">
                      <div class="field pointer shadow-bg">
                        <span *ngFor="let item of fieldModels">
                          <a *ngIf="item.category==2" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
                            (dndEnd)="onDragEnd($event)" [ngClass]="item.designclass" style="margin-top:5px"
                            class="btn btn-block btn-sm  btn-social"><i [ngClass]="item.icon" class="fa "></i>
                            {{item.label}}</a>


                        </span>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="panel box box-info">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseAll" aria-expanded="true"
                      class="">
                      All Editors
                    </a>
                  </h4>
                </div>
                <div id="collapseAll" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                  <div class="box-body">



                    <div class="fields">
                      <div class="field pointer shadow-bg">
                      <span *ngFor="let item of fieldModels" >
                      <a   [dndDraggable]="item" [dndEffectAllowed]="'copy'"
                          (dndEnd)="onDragEnd($event)" [ngClass]="item.designclass" style="margin-top:5px"
                          class="btn btn-block btn-sm  btn-social"><i [ngClass]="item.icon" class="fa "></i>
                          {{item.label}}</a>
                      
                      
                      </span>
                        
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-10">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
          </div>



          <form role="form" [formGroup]="customForm">
            <div dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event,model.fields)"
              class="dndDropArea box-body" [ngClass]="{'empty':model.fields.length == 0}"
              [style.backgroundColor]="model.theme.bgColor" [style.color]="model.theme.textColor"
              style="min-height: 200px;">

              <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: model.fields }">
              </ng-container>


            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>







        </div>
      </div>

    </div>





    <ng-template #recursiveListTmpl let-list>
      <div class="field" *ngFor="let item of list;let i= index;" (dndStart)="onDragStart($event)"
        (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, list, 'move')" [dndEffectAllowed]="'all'"
        [dndDraggable]="item">



        <div>
          <div class="form-group">

            <div *ngIf="item.type=='text'" (mouseover)="item.runtimehover=true" (mouseleave)="item.runtimehover=false">

              <div>
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>

                <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                      style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                      class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-arrows-alt dndHandle"
                      dndHandle style="line-height: 24px; font-size: 0.8em;"></i></a>

                </div>


              </div>
              <input type="text" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
            </div>


            <div *ngIf="item.type=='datetime'" (mouseover)="item.runtimehover=true"
              (mouseleave)="item.runtimehover=false">

              <div>
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>

                <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                      style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                      class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-arrows-alt dndHandle"
                      dndHandle style="line-height: 24px; font-size: 0.8em;"></i></a>

                </div>


              </div>

              <div class="input-group date">
                <div class="input-group-addon">

                  <i class="fa fa-calendar"></i>
                </div>


                <!-- 2. datepicker in the popup -->
                <input type="text" class="form-control" (focus)="d.toggle()" ngbDatepicker #d="ngbDatepicker" />
              </div>



            </div>



            <div *ngIf="item.type=='selectbox'" (mouseover)="item.runtimehover=true"
              (mouseleave)="item.runtimehover=false">

              <div>
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>

                <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                      style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                      class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-arrows-alt dndHandle"
                      dndHandle style="line-height: 24px; font-size: 0.8em;"></i></a>

                </div>


              </div>


              <ng-select2 [data]="item.items">
              </ng-select2>



            </div>



            <div *ngIf="item.type=='selectboxmulti'" (mouseover)="item.runtimehover=true"
              (mouseleave)="item.runtimehover=false">

              <div>
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>

                <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                      style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                      class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-arrows-alt dndHandle"
                      dndHandle style="line-height: 24px; font-size: 0.8em;"></i></a>

                </div>


              </div>



              <ng-select2 [data]="item.items" [options]="item.options" [(ngModel)]="item.value">
              </ng-select2>


            </div>


            <div *ngIf="item.type=='colorpicker'" (mouseover)="item.runtimehover=true"
              (mouseleave)="item.runtimehover=false">

              <div>
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>

                <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                      style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                      class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-arrows-alt dndHandle"
                      dndHandle style="line-height: 24px; font-size: 0.8em;"></i></a>

                </div>


              </div>




              <input [(colorPicker)]="color" [value]="color" [style.background]="color" class="form-control"
                style="max-width: 100px;" />



            </div>

            <div *ngIf="item.type=='row'">

              <div class="row custom-row" [ngClass]="item.runtimehover ? 'rowmousehover' : '' "
                (mouseover)="item.runtimehover=true" (mouseleave)="item.runtimehover=false">
                <div class="field-setting-button row-settingbutton"
                  [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                      style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                      class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                  <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-arrows-alt dndHandle"
                      dndHandle style="line-height: 24px; font-size: 0.8em;"></i></a>

                </div>
                <div *ngFor="let column of item.childs;let i= index;" dndDropzone style=" min-height:80px"
                  class="custom-column" (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event,column.childs)"
                  [ngClass]="column.className">
                  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: column.childs }">
                  </ng-container>

                </div>

              </div>

            </div>


            <div *ngIf="item.type=='tabcontainer'">

              <div class="nav-tabs-custom" [ngClass]="item.runtimehover ? 'rowmousehover' : '' "
                (mouseover)="item.runtimehover=true" (mouseleave)="item.runtimehover=false">
                <ul class="nav nav-tabs pull-right">

                  <li *ngFor="let tab of item.childs;let i= index;" [ngClass]="tab.tabheaderclassName"><a
                      href="#{{tab.id}}" data-toggle="tab">{{tab.label}}</a></li>


                  <li class="pull-left header"><i class="fa fa-th"></i> {{item.label}}</li>

                  <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                    <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                        style="line-height: 24px; font-size: 0.8em;"></i></a>
                    <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                        class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                    <a class="btn btn-social-icon " style="height: 24px; width:24px"><i
                        class="fa fa-arrows-alt dndHandle" dndHandle
                        style="line-height: 24px; font-size: 0.8em;"></i></a>

                  </div>




                </ul>
                <div class="tab-content">
                  <div *ngFor="let tab of item.childs" class="tab-pane" [ngClass]="tab.tabheaderclassName" [id]="tab.id"
                    dndDropzone style=" min-height:80px" (dndDragover)="onDragover($event)"
                    (dndDrop)="onDrop($event,tab.childs)">

                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: tab.childs }">
                    </ng-container>


                  </div>
                  <!-- /.tab-pane -->

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
            </div>



            <div *ngIf="item.type=='panelbox'">

              <div class="box box-danger" [ngClass]="item.className"
                [ngClass]="item.runtimehover ? 'rowmousehover' : '' " (mouseover)="item.runtimehover=true"
                (mouseleave)="item.runtimehover=false">
                <div class="box-header">
                  <h3 class="box-title">{{item.label}}</h3>

                  <div class="field-setting-button" [ngStyle]="{display: item.runtimehover==true  ? 'block' : 'none' }">
                    <a class="btn btn-social-icon " style="height: 24px; width:24px"><i class="fa fa-trash"
                        style="line-height: 24px; font-size: 0.8em;"></i></a>
                    <a class="btn btn-social-icon " style="height: 24px; width:24px"><i (click)="openSettingsForm(item)"
                        class="fa fa-cog" style="line-height: 24px; font-size: 0.8em;"></i></a>
                    <a class="btn btn-social-icon " style="height: 24px; width:24px"><i
                        class="fa fa-arrows-alt dndHandle" dndHandle
                        style="line-height: 24px; font-size: 0.8em;"></i></a>

                  </div>



                  <div class="box-tools pull-right">
                    <button *ngIf="item.minimizebutton" type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i></button>
                    <button *ngIf="item.closebutton" type="button" class="btn btn-box-tool" data-widget="remove"><i
                        class="fa fa-remove"></i></button>
                  </div>
                </div>
                <div class="box-body" dndDropzone style=" min-height:80px" (dndDragover)="onDragover($event)"
                  (dndDrop)="onDrop($event,item.childs)">

                  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.childs }">
                  </ng-container>

                </div>

              </div>
            </div>
            <div *ngIf="item.type=='email'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="email" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
            </div>
            <div *ngIf="item.type=='phone'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="text" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
            </div>
            <div *ngIf="item.type=='number'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="number" class="form-control" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
                placeholder="{{item.placeholder}}">
            </div>
            <div *ngIf="item.type=='date'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="date" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
            </div>
            <div *ngIf="item.type=='datetime-local'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <input type="datetime-local" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
            </div>
            <div *ngIf="item.type=='textarea'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <textarea class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
                                </textarea>
            </div>
            <div *ngIf="item.type=='file'">
              <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                class="text-danger">*</label>
              <input type="file" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
              <small class="form-text text-danger">(File can't be uploaded right now)</small>
            </div>
            <div *ngIf="item.type=='paragraph'">
              <p class="form-text">{{item.placeholder}}</p>
            </div>
            <div *ngIf="item.type=='autocomplete'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <select class="form-control" id="{{item.name}}">
                <option *ngFor="let v of item.listitems" [value]="v.value">{{v.label}}</option>
              </select>
              <!-- <small class="form-text text-muted">{{item.description}}</small> -->
            </div>
            <div *ngIf="item.type=='checkbox'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <div *ngFor="let v of item.listitems" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="checkbox" [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)">
                  {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item.type=='radio'">
              <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
              <div *ngFor="let v of item.listitems" class="inline-form-group">
                <label class="cust-check-bx">
                  <input type="radio" [value]="v.value" name="{{item.name}}"> {{v.label}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="item.type=='button'" class="btn-cont">
              <input type="{{item.subtype}}" (click)="submit()" value="{{item.label}}" class="btn btn-primary"
                id="{{item.name}}">
            </div>
          </div>

        </div>


        <!-- number -->


        <!-- radio || checkbox || autocomplete -->
        <div *ngIf="item.type=='radio'|| item.type=='checkbox' || item.type=='autocomplete'">
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label>Label</label>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label>Value</label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Action</label>
              </div>
            </div>
          </div>


        </div>






        <!--optional placeholder element for dropzone-->
        <!--will be removed from DOM on init-->





      </div>



      <div class="dndPlaceholder" dndPlaceholderRef>
      </div>









    </ng-template>



    <button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>

    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Field Setting</h4>
          </div>
          <div class="modal-body">



            <form role="form" [formGroup]="fieldSettingForm" (ngSubmit)="onSubmit(fieldSettingForm.value)">


              <div class="form-group">
                <label>Json Text</label>
                <textarea class="form-control" rows="20" formControlName="jsontext" id="jsontext"
                  placeholder="Enter ..." spellcheck="false"></textarea>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default  pull-left" (click)="onCloseHandled()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit(fieldSettingForm.value)">Save
              changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->